APP_HOST=0.0.0.0
APP_PORT=8000
DB_PATH=./data/hackaton.db
PREPARE_SLEEP_SECONDS=10

# Optional Trino TLS mTLS settings
TRINO_CA_CERT_PATH=
TRINO_CLIENT_PEN_PATH=
TRINO_CLIENT_PEM_PATH=
TRINO_CLIENT_CERT_PATH=
TRINO_CLIENT_KEY_PATH=
TRINO_SKIP_TLS_VERIFY=
